# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/

# Configuration
config/api_keys.json

# Scratch scripts
scratch/

# IDEs
.vscode/
.idea/
.project
.pydevproject
.settings/

# OS
.DS_Store
Thumbs.db
